@use '../../config' as *;
@use '../theme' as *;

@mixin base-button ($bg-color, $color){
  background-color: var($bg-color);
  color: var($color);
}

$transparent: rgba(0,0,0,0);

.#{$prefix}--btn {
  @include base-button(
    --primary-main,
    --primary-contrastText 
  );
  border-radius: 10px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.1s;

  position: relative;
  display: inline-flex;
  max-width: rem(320px);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-light);
  }
}

.#{$prefix}--btn--text {
  @include base-button(
    $transparent,
    #000,
  );
}

.#{$prefix}--btn--danger {
  @include base-button(
    $transparent,
    --error-main,
  );
}


