@use '../../config' as *;
@use '../theme' as *;


.#{$prefix}--slider {
  position: relative;
  background-color: aquamarine;
  border-radius: 10px;
  min-width: 100px;
  padding: 10px;
  &:before {
    content:'\A';
    position: absolute;
    background: rgb(255, 0, 0);
    border-radius: 10px 0px 0px 10px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70%;
  }
}

.#{$prefix}--slider--thumb {
  position: absolute;
  background-color: aqua;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  z-index: 10;
}


