@mixin theme($mode: dark ) {
  $primary-main: #90caf9;
  $primary-light: #e3f2fd;
  $primary-dark: #42a5f5;
  $primary-contrastText: rgba(0, 0, 0, 0.87);

  // $secondary-main: #ce93d8;
  // $secondary-light: #f3e5f5;
  // $secondary-dark: #ab47bc;
  // $secondary-contrastText: rgbda(0, 0, 0, 0.87);

  // $error-main: #f44336;
  // $error-light: #e57373;
  // $error-dark: #d32f2f;
  // $error-contrastText: #fff;

  // $warning-main: #ffa726;
  // $warning-light: #ffb74d;
  // $warning-dark: #f57c00;
  // $warning-contrastText: rgba(0, 0, 0, 0.87);

  // $text-primary: #fff;
  // $text-secondary: rgba(255, 255, 255, 0.7);
  // $text-disabled: rgbda(255, 255, 255, 0.5);

  // $background-paper: #121212;
  // $background-default: #121212;

}

:root {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root, html[theme='light'] {
  --primary-main: #1976d2;
  --primary-light: #42a5f5;
  --primary-dark: #1565c0;
  --primary-contrastText: #fff;

  --secondary-main: #9c27b0;
  --secondary-light: #ba68c8;
  --secondary-dark: #7b1fa2;
  --secondary-contrastText: #fff;

  --error-main: #d32f2f;
  --error-light: #ef5350;
  --error-dark: #c62828;
  --error-contrastText: #fff;

  --warning-main: #ed6c02;
  --warning-light: #ff9800;
  --warning-dark: #e65100;
  --warning-contrastText: #fff;

  --info-main: #0288d1;
  --info-light: #03a9f4;
  --info-dark: #01579b;
  --info-contrastText: #fff;

  --success-main: #2e7d32;
  --success-light: #4caf50;
  --success-dark: #1b5e20;
  --success-contrastText: #fff;

}

html[theme='dark'] {
  --primary-main: #90caf9;
  --primary-light: #e3f2fd;
  --primary-dark: #42a5f5;
  --primary-contrastText: rgba(0, 0, 0, 0.87);
}
